footer {
    background-color: #D9D9D9;
    color: var(--verde-escuro);
    text-align: center;
    padding: 1.3rem 0;
    font-size: 0.6rem;
}


/* Voltar ao topo */
#voltar-topo {
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    cursor: pointer;
    z-index: 1000;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

#voltar-topo img {
    width: 5rem; 
    height: 5rem; 
}

#voltar-topo.show {
    display: flex; 
}

#voltar-topo:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}
