header {
    max-width: 100%;
    background-color: var(--verde-escuro);
    padding: 5.5rem 14.4rem 3.2rem 14.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    font-size: 1.5rem;
    gap: 11rem;
    margin-top: 5.1rem;
}

.menu a {
    color: var(--bege-rosado-detalhes);
}

.menu a:hover {
    text-decoration: underline overline;
}