#obras-publicadas {
    background-color: var(--verde-escuro);
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5rem 13rem;
}

#obras-publicadas h2 {
    color: var(--bege-rosado-detalhes);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 4rem;
}

#livros-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.livro {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    max-width: 16rem;
}

.livro img {
    max-width: 100%; 
    height: auto;
}

.livro a {
    display: flex;
    border-radius: 8px;
    background-color: var(--bege-rosado-detalhes);
    color: var(--verde-escuro);
    font-size: 0.8rem;
    width: 60%;
    padding: 0.8rem 1.2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.livro a:hover {
    background-color: var(--verde-militar-secundario);
}

