#servicos {
    display: flex;
    max-width: 100%;
    justify-content: center;
    min-height: 70vh;
}

#servicos-esquerda {
    display: flex;
    flex-direction: column;
    background-color: var(--verde-escuro);
    color: var(--bege-rosado-detalhes);
    width: 25%;
    padding: 5rem 12rem;
    text-align: center;
    justify-content: center;
    gap: 2.6rem;
}

#servicos-esquerda h4 {
    font-size: 2rem;
    font-weight: 600;
}


#servicos-esquerda p a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--bege-rosado-detalhes);
}

#servicos-direita {
    background-image: url("../img/servicos-background.svg");
    background-size: cover;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.servicos-direita-card {
    display: flex;
    background-color: var(--verde-escuro);
    border-radius: 20px;
    width: 27%;
    color: white;
    padding: 2.5rem 1.8rem;
    gap: 1.2rem;
    margin-right: 2rem;
}

.servicos-direita-card img {
    width: 30%;
}

@media screen and (max-width: 1010px) {
    #servicos {
        flex-direction: column;
        align-items: center;
    }

    #servicos-esquerda {
        width: 100%; /* Ocupa toda a largura da tela */
        padding: 4rem; /* Reduz o padding para telas menores */
    }

    #servicos-esquerda p {
        padding: 2rem 5rem;
    }

    #servicos-direita {
        display: none;
    }

    .servicos-direita-card {
        width: 80%; /* Ajusta a largura dos cards */
        margin-right: 0; /* Remove a margem lateral */
    }
}